<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cy.demo"
    >
    <!--android:sharedUserId="android.uid.system">-->
    <!--android:sharedUserId="android.uid.systemui">-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.coolyota.demo.JvLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        >
        <!--        android:theme="@style/AppTheme"-->
        <!--<activity android:name=".PicAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>-->
        <activity
            android:name="com.coolyota.demo.ResolverAct"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            >


        </activity>
        <activity
            android:name="com.coolyota.demo.HomeAct"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.coolyota.demo.PicAct"/>

        <activity android:name="com.coolyota.demo.DownloadAct"/>


        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
        <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>-->
        <!--注册监听WiFi状态,针对背屏只能开机的启动的应用 采取监听WiFi连接后上传   -->
        <receiver android:name="com.coolyota.analysis.receiver.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>